<ion-view hide-nav-bar="true">
    <ion-header-bar class="black-header">
        <button class="button button-clear search-bar now" ng-click="showNow()">
            Now showing
        </button>
        <button class="button button-clear search-bar next" ng-click="showNext()">
            What's next
        </button>
    </ion-header-bar>
    <ion-content>
        <ion-list>

            <ion-item class="item-remove-animate cage" ng-repeat="chat in series" type="item-text-wrap">

                <div class="row">
                    <div class="col col-100">
                        <div class="content-title">
                            <p>{{chat.title}}</p>

                            <p>Episode {{chat.episodeNumber}}<span
                                    ng-show="chat.episodeTitle">: {{chat.episodeTitle}}</span></p>

                            <p>Season {{chat.seasonNumber}}</p>
                        </div>
                    </div>
                </div>
                <div ng-show="chat.poster">
                    <div class="row">
                        <div class="col col-30">
                            <div class="item item-image">
                                <img ng-src="{{chat.poster}}">
                            </div>
                            <div ng-show="chat.rating">
                                <i class="star-rating icon ion-star item-icon-left"></i><span class="number-rating">{{chat.rating}}</span>
                            </div>
                        </div>
                        <div class="col col-70">
                            <div class="row">
                                <div class="col col-20">
                                </div>
                                <div class="col col-80">
                                    <div class="item item-image">
                                        <img ng-src="{{chat.channelImageURL}}">
                                    </div>
                                    <div ng-show="chat.onTimeNow">
                                        <progress max="100" value="{{chat.perCentTimeElapsed}}"></progress>
                                    </div>
                                    <p class="time">{{chat.st}} - {{chat.et}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div ng-show="chat.noPoster">
                    <div class="row">
                        <div class="col col-30">
                            <div class="item item-image">
                                <img ng-src="{{chat.image}}">
                            </div>
                            <div ng-show="chat.rating">
                                <i class="star-rating icon ion-star item-icon-left"></i><span class="number-rating">{{chat.rating}}</span>
                            </div>
                        </div>
                        <div class="col col-70">
                            <div class="row">
                                <div class="col col-20">
                                </div>
                                <div class="col col-80">
                                    <div class="item item-image">
                                        <img ng-src="{{chat.channelImageURL}}">
                                    </div>
                                    <div ng-show="chat.onTimeNow">
                                        <progress max="100" value="{{chat.perCentTimeElapsed}}"></progress>
                                    </div>
                                    <p class="time">{{chat.st}} - {{chat.et}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
