<ion-view title="" hide-nav-bar="true">
    <ion-header-bar class="black-header">
        <button class="button search-bar" ng-class="{ now: movies_now, next: !movies_now }" ng-click="showNow()">
            Now showing
        </button>
        <button class="button search-bar" ng-class="{ next: movies_now, now: !movies_now }" ng-click="showNext()">
            What's next
        </button>
    </ion-header-bar>
    <ion-content>
        <ion-list>
            <ion-item class="dotte item-remove-animate cage movie" ng-repeat="chat in movies" type="item-text-wrap"
                      ng-click="toDetails({{chat}})">
                <!--<div class="row">-->
                <!--<div class="col col-100">-->
                <!--<div class="content-title">-->
                <!--<p>{{chat.title}}</p>-->
                <!--</div>-->
                <!--<div class="rating" ng-show="chat.rating">-->
                <!--<i class="star-rating icon ion-star"></i><span class="number-rating">{{chat.rating}}</span>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->

                <div class="row">
                    <div class="col col-25">
                        <div class="image-container">
                            <div ng-show="chat.poster" class="item item-image">
                                <img ng-src="{{chat.poster}}">
                            </div>
                        </div>
                    </div>
                    <div class="col col-75">
                        <div class="row">
                            <div class="col col-80">
                                <div>
                                    <div>
                                        <p style="text-align: left;font-size: large">{{chat.title}}</p>
                                    </div>
                                    <div  ng-show="chat.rating">
                                        <i class="star-rating icon ion-star"></i><span class="number-rating">{{chat.rating}}</span>
                                        <span class="time-left" ng-show="chat.onTimeNow">45 minutes left</span>
                                        <span class="time-left" ng-show="!chat.onTimeNow" class="time">{{chat.st}} - {{chat.et}}</span>
                                    </div>
                                </div>
                                <!--<div ng-show="chat.onTimeNow">-->
                                    <!--<progress max="100" value="{{chat.perCentTimeElapsed}}"></progress>-->
                                    <!--<p ng-show="chat.onTimeNow">45 minutes left</p>-->
                                <!--</div>-->

                            </div>
                            <div class="col col-20">
                                <div class="item item-image">
                                    <img ng-src="{{chat.channelImageURL}}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>