<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top">

<ion-tab title="Series" icon="icon ion-gear-b" href="#/tab/series">
    <ion-nav-view name="tab-series"></ion-nav-view>
  </ion-tab>


  <ion-tab title="Movies" icon="icon ion-gear-b" href="#/tab/movies">
    <ion-nav-view name="tab-movies"></ion-nav-view>
  </ion-tab>

</ion-tabs>
