/* Empty. Add your own CSS if you like */
.item p {
	text-align: center;
	font-size: small;
	color: white;
}

p.time  {
	text-align: center;
	font-size: x-small;
}

.tabs {
	background-color: #f8f8f8;
	color: #EA4646;
}
.bar.bar-stable{
	background-color: #EA4646;
}

.bar.bar-stable .title {
    color: #fafafa;
}

.cage.item {
	background-color: black;
	border-top-width: 0px;
	border-bottom-color: #EA4646;
	border-bottom-width: thick;
}

.number-rating {
	color: white;
}


.star-rating {
	color: #ffc900;
}

.button.button.now {
	background-color: #EA4646;
	border-color: #EA4646;
	color: white;
	font-size: medium;
}

.button.button.next {
	background-color: black;
	border-color: #EA4646;
	color: white;
	font-size: medium;
}

.search-bar
{
	width:50% !important;
	background: inherit;
}

.bar .bar-black{
	background-color: black;
}

.bar-header.black-header {
	background-color: black !important;
	border-bottom-width: 10px !important;
	border-bottom: dotted !important;
	background-size: 0px !important;
}

.test-details {
	background-color: black;
	border-top-width: 0px;
	border-bottom-color: #EA4646;
	border-bottom-width: thick;
	color: white;
	font-size: x-small;
}

div.content-title {
	text-align: center;
	font-size: small;
	color: white;
}

p.red-content{
	font-size: small;
	background-color: #EA4646;
	border-color: #EA4646;
	color: white;
}


p.black-content{
	font-size: small;
	background-color: black;
	border-color: #EA4646; !important;
	border-top-width: 1px; !important;
	border-style: solid; !important;

	color: white;

}